<!DOCTYPE html>

<html>
	<head>
		<style>
			.header {
				padding-top: 45px;
				padding-bottom: 45px;
				text-align: center;
				background: #074873;
				color: white;
				font-size: 30px;
				width: 100%;
			}
		</style>
	
		<title>{% block title %}Machine Learning Crime Predictor{% endblock %}</title>
		
		<div class="header" style="display:inline-block; vertical-align: bottom;">
		    <font face = "georgia">&nbsp&nbspMachine Learning Crime Predictor</font>
		</div>
	</head>

	<body>
		<main>
		
			
			<form method="post">
			
			
				<input type="submit" class="button" value ="Predict">
			</form>
		
		</main>
	</body>

</html>